/* frontend/css/styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin-top: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

.container {
    background-color: #fff;
    margin-top: 30px;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

h2 {
    color: #666;
    margin-top: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

/* frontend/css/styles.css */


h1, h2 {
    color: #333;
    text-align: center;
}




#donationList {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

#donationList li {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

